
.card-sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 30vw;
  padding: 40px;
  background-color: var(--branco_claro);
  border-radius: 60px;

  font-size: 18px;

  gap: 15px;
  box-shadow: 3px 3px 9px var(--azul-sombra);
  border: none;
}


.container-card-sobre{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  margin-right: 30px;
}



.bol-amarela{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--amarelo_padrao);
  border-radius: 50%;
  box-shadow: 3px 3px 9px var(--azul-sombra);
  
}

.btn-azul{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--azul_padrao);
  font-size: 15px;
  text-decoration: none;
  color: var(--branco_claro);
  
  width: 150px;
  height: 30px;
  
  
  border-radius: 20px;
  box-shadow: 3px 3px 9px var(--azul-sombra);
  
}

.btn-azul:hover{
  transition: 0.3s ease-in;
  color: var(--azul_padrao);
  background-color: var(--branco_claro);
}



  @media only screen and (max-width: 700px) {

    .card-sobre{
      width: 330px;
      padding: 20px;
    }
    .img-perfil{
      width: 200px;
      border-radius: 30px;
    }

  }
