
.background-box-1{
    position: fixed;
    z-index: -2;
  
    border: none;
    opacity: 0.2;

    bottom: 190px;
    left: 40%;
    /* background-color: var(--verde_padrao); */
    
    width: 70%;
    height: 925px;
    border-radius: 170px;
    animation: topToBotton 20s ease-in infinite alternate forwards;
}
.background-box-2{
    position: fixed;
    z-index: -2;
    
    border: none;
    opacity: 0.2;
    
    bottom:10%;
    left: 15%;
    /* background-color: var(--azul_padrao); */
    
    width:50%;
    height: 500px;
    border-radius: 130px;
    animation: topToBotton 15s ease infinite alternate forwards;
}
.background-box-3{
    position: fixed;
    z-index: -2;
    
    border: none;
    opacity: 0.2;
    
    bottom:30%;
    left: 4%;
    /* background-color: var(--azul_padrao); */
    
    width:30%;
    height: 300px;
    border-radius: 90px;
    animation: topToBotton 15s ease infinite alternate forwards;
}


.container{
    
  width: 80%;
    margin:0px 0px 0px 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 4fr;
}

.font-large{
    font-size: 2.5rem;
}

.img{
  position: relative;
    z-index: -1;
    animation: floating 1s ease-out infinite alternate forwards;
    
  }
  
  @keyframes floating{
    
    from{
      transform: translateY(0%);
    }
    to{
      transform: translateY(3%);
    }
  }

@keyframes topToBotton{
   
    from{
      transform: translatey(-15%);
    }
    to{
      transform: translatey(25%);
    }
  }

  @media only screen and (max-width: 800px) {

    .container{
      margin: 2px;
      grid-template-columns: 1fr;
    }
    .img{
      width: 270px;
    }

    
.background-box-1{
  border-radius: 70px;
}
.background-box-2{
  
  border-radius: 70px;
}

  }
