.btn-projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--verde_padrao);
  text-decoration: none;
  color: var(--branco_claro);
  border: none;
  padding: 3em;

  width: 30vw;
  height: 7vh;
  font-size: large;
  perspective: 100px;
  padding: 1em;

  border-radius: 1em;
  box-shadow: 2px 2px 2px var(--azul-sombra);
}

.btn-projeto:hover {
  animation:floatingBtn 1s ease forwards alternate infinite;
  /* margin: 2em; */
}

.btn-projeto a {
  color: var(--branco_claro);
  text-decoration: none;
}

@media only screen and (max-width: 700px) {

  .btn-projeto a {
    color: var(--branco_claro);
    text-decoration: none;
    word-wrap:break-word;
    /* font-size: small; */
  }
  .btn-projeto {
   width: auto;
  }

}

@keyframes floatingBtn {
  from{
    /* transform: scale3d(1, 1, 1);  */
    /* transform: skew(10deg, 10deg); // Distorce elemento  */
    /* transform:perspective(23px) // deita o elemento   */
    transform:scale(1);
    box-shadow: 2px 2px 2px var(--verde_padrao);
    
    /* transform: rotateX(0deg); */
  }
  to{
    transform:scale(0.9);
    box-shadow: 2px 2px 30px var(--verde_padrao);
    /* transform: rotateX(40deg); //deita elemento */
    /* transform: skew(0) ; */
    /* transform: skew(20deg, 20deg); */
    /* transform: scale3d(-1.4, 0.4, 0.7); */
  }
}