.mini-card{
  border-radius: 23px;
  background-color: var(--branco_claro);
  box-shadow: 3px 3px 9px var(--azul-sombra);
  width: 190px;
  height: 250px;
  
  display:flex;
  
  justify-content: center;
  align-items: center;
}
.img-mini-card{
  border-radius: 23px;
  position: absolute;
  width: 190px;
  height: 250px;
  box-sizing: border-box;
}
.nano-card{
  
  display: flex;
  align-items: center;
  border-radius: 17px;
  background-color: var(--azul_padrao);
  width: 80px;
  height: 85px;
  z-index: 1;
  padding: 10px;

  
  
  font-size: 13px;
  word-wrap: break-word;
  color:var(--branco_claro);
  
  box-shadow: 2px 2px 2px var(--azul-sombra);
  text-align: center;
}
.mini-card:hover{

animation: topCard 0.3s ease 0s alternate forwards;
}


@keyframes topCard {

  from{
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
  /* from{
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    background-color: green;
    z-index: 3;
  } */
}

@media only screen and (max-width: 1000px) {
  
  .mini-card{
    
    width: 150px;
    height: 200px;
  }

  
  
}


@media only screen and (max-width: 600px) {
  .nano-card{
    
    width: 100px;
    height: 120px;
    border-radius: 30px;
    
  }

  .img-mini-card{
    border-radius: 40px;
    width: 290px;
    height: 350px;
  }
  
  .mini-card{
    
    border-radius: 40px;
    width: 290px;
    height: 350px;

  }
  
}