
:root {
  --azul_escuro:#3719df;
  --azul-sombra:#3719df30;
  --azul_padrao:#5233FF;
  --branco_claro:#fcfcff;
  --branco_padrao:#efedfe;
  --verde_padrao:#19FF94;
  --vermelho_padrao:#F7614A;
  --amarelo_padrao:#F7DB19;
  --preto:#424144;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: var(--preto);
}
h1{
  margin: 0px;
}
.bg-red{
  background-color: var(--vermelho_padrao);
}
.bg-yellow{
  background-color: var(--amarelo_padrao);
}
.bg-green{
  background-color: var(--verde_padrao);
}
.bg-blue{
  z-index: -1;
  background-color: var(--azul_padrao);
}
.bg-white{
  background-color: var(--branco_claro);
}
.transitionsSoft{
  animation: softchange 1s ease 0s alternate forwards;
}




.background-box-1{
  position: fixed;
  z-index: -2;

  border: none;
  opacity: 0.2;

  bottom: 190px;
  left: 40%;
  
  width: 70%;
  height: 925px;
  border-radius: 170px;
  animation: topToBotton 20s ease-in infinite alternate forwards;
}
.background-box-2{
  position: fixed;
  z-index: -2;
  
  border: none;
  opacity: 0.2;
  
  bottom:10%;
  left: 15%;
  
  width:50%;
  height: 500px;
  border-radius: 130px;
  animation: topToBotton 15s ease infinite alternate forwards;
}
.background-box-3{
  position: fixed;
  z-index: -2;
  
  border: none;
  opacity: 0.2;
  
  bottom:30%;
  left: 4%;
  
  width:40%;
  height: 300px;
  border-radius: 90px;
  animation: topToBotton 7s ease infinite alternate forwards;
}

.background-box-4{
  position: fixed;
  z-index: -2;
  
  border: none;
  opacity: 0.2;
  
  bottom:10%;
  left: 30%;
  
  width:25%;
  height: 20%;
  border-radius: 50px;
  animation: topToBotton 10s ease infinite alternate forwards;
}


.wid-1{
  width: 100px;
}
.wid-2{
  width: 200px;
}

.heig-1{
  height: 100px;
}
.heig-2{
  height: 200px;
}


@keyframes floating{
    
  from{
    transform: translateY(0%);
  }
  to{
    transform: translateY(3%);
  }
}

@keyframes topToBotton{
 
  from{
    transform: translatey(-15%);
  }
  to{
    transform: translatey(35%);
  }
}


@keyframes softchange {
  from{
    opacity: 0;
    transform: translateX(-100vw);
  }
  to{
    opacity: 1;
    transform: translateX(0vw);
  }
}


  @keyframes flooting-soft {
    from{
      
      transform: translateY(0px);
    }
    to{
      color: var(--verde_padrao);
      border-bottom: 2px solid var(--verde_padrao);
      transform: translateY(-4px);
    }
  }
  @keyframes rightToLeft {
    from{
      opacity: 0;
      transform: translateX(-500px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes leftToRight {
    from{
      
      transform: translateX(0px);
    }
    to{
      
      transform: translateX(-500px);
    }
  }


  

@media only screen and (max-width: 800px) {


  
  .background-box-1{
    border-radius: 10px;
  }
  .background-box-2{
    
    border-radius: 10px;
  }

}
