
:root {
  --azul_escuro:#3719df;
  --azul-sombra:#3719df30;
  --azul_padrao:#5233FF;
  --branco_claro:#f7f6fe;
  --branco_padrao:#efedfe;
  --verde_padrao:#19FF94;
  --vermelho_padrao:#F7614A;
  --amarelo_padrao:#F7DB19;
  --preto:#424144;
}
body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: var(--preto);
}
h1{
  margin: 0px;
}

.bg-red{
  background-color: var(--vermelho_padrao);
}
.bg-yellow{
  background-color: var(--amarelo_padrao);
}
.bg-green{
  background-color: var(--verde_padrao);
}
.bg-blue{
  background-color: var(--azul_padrao);
}
.bg-white{
  background-color: var(--branco_padrao);
}
.transitionsSoft{
  animation: softchange 1s ease 0s alternate forwards;
}

@keyframes softchange {
  from{
    opacity: 0;
    transform: translateX(-100vw);
  }
  to{
    opacity: 1;
    transform: translateX(0vw);
  }
}